---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

    .site-logo {
      width: 300px; /* Sets the width to 200 pixels */
      height: auto; /* Maintains the aspect ratio */
    }
